<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>881881867180-m9p296bnns0sdve7igj1q8m682ea58n6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881881867180-m9p296bnns0sdve7igj1q8m682ea58n6</string>
	<key>API_KEY</key>
	<string>AIzaSyC7DnIok7i5gYcwQJm_Rm1yf-TisgoHs0k</string>
	<key>GCM_SENDER_ID</key>
	<string>881881867180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alyomapps.Machines</string>
	<key>PROJECT_ID</key>
	<string>equipments-546ca</string>
	<key>STORAGE_BUCKET</key>
	<string>equipments-546ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881881867180:ios:7cc5616fd35d3fe5</string>
	<key>DATABASE_URL</key>
	<string>https://equipments-546ca.firebaseio.com</string>
</dict>
</plist>